.container {
  margin-top: 150px;
  margin-bottom: 48px;
}

.breadcrumbsContainer {
  margin-bottom: clamp(16px, 3vw, 24px);
}

.breadcrumbsText {
  color: var(--black) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
}

.breadcrumbsLink a {
  color: var(--primary) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
}

.formInput {
  border-radius: 0 !important;
  border: 1px solid var(--formInputBorder);
  padding: 16px;
  font-size: 12px;
  font-weight: 400;
}

.formInput::placeholder {
  color: var(--formInputBorder);
  font-size: 12px;
  font-weight: 400;
}

.formInput:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--formInputBorder);
}

.formCheck input {
  border-radius: 0 !important;
  color: var(--black);
  text-transform: capitalize;
  border-color: var(--topbarbg) !important;
}

.formCheck input:checked {
  background-color: var(--topbarbg) !important;
  border-color: var(--topbarbg) !important;
  background-image: none !important;
}

.formCheck input:focus {
  box-shadow: none !important;
}

.formCheck label {
  color: var(--black) !important;
  text-transform: capitalize !important;
  font-weight: 400;
  font-size: 14px;
}

.shippingTitleContainer {
  margin-top: clamp(16px, 3vw, 24px);
  margin-bottom: clamp(8px, 3vw, 16px);
}

.contactTitle {
  font-size: clamp(16px, 3vw, 18px);
  color: var(--black);
  font-weight: 400;
  text-transform: capitalize;
}

.loginText {
  font-size: 14px;
  color: var(--black);
  font-weight: 400;
  text-transform: capitalize;
}

.loginText a {
  color: var(--primary);
  text-transform: capitalize;
  text-decoration: none;
}

.shippingTitle {
  font-size: clamp(16px, 3vw, 18px);
  color: var(--black);
  font-weight: 400;
  text-transform: capitalize;
}

.continueBtn {
  color: var(--background);
  background-color: var(--primary);
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 400;
  border: 0;
  border-radius: 0;
}

.returnLink {
  color: var(--primary);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

.formBtnContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: clamp(24px, 3vw, 48px);
}

@media (max-width: 600px) {
  .container {
    margin-top: 0;
    margin-bottom: 32px;
  }
}
