.container {
  margin-top: 150px;
  margin-bottom: 48px;
}

.forgotTitle {
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 600;
  color: var(--black);
  margin-bottom: clamp(24px, 3vw, 32px);
  text-transform: capitalize;
}

.formInput {
  border-radius: 0 !important;
  border: 1px solid var(--formInputBorder);
  padding: 16px;
  font-size: 12px;
  font-weight: 400;
}

.formInput::placeholder {
  color: var(--formInputBorder);
  font-size: 12px;
  font-weight: 400;
}

.formInput:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid var(--formInputBorder);
}

.formBtn {
  background-color: var(--topbarbg);
  padding: 16px;
  display: block;
  width: 100%;
  color: var(--background);
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 8px;
  border: 0;
  text-decoration: none;
  text-align: center;
}
