.container {
  margin-top: 150px;
  margin-bottom: 48px;
}

.breadcrumbsContainer {
  margin-bottom: clamp(16px, 3vw, 24px);
}

.breadcrumbsText {
  color: var(--black) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
  text-transform: uppercase;
}

.breadcrumbsLink a {
  color: var(--primary) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
  text-transform: capitalize;
}

.sectionTitleContainer {
  margin-bottom: clamp(8px, 3vw, 16px);
}

.sectionTitle {
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 600;
  color: var(--black);
}

.faqTitle {
  font-size: clamp(14px, 3vw, 20px);
  font-weight: 700;
  color: var(--black);
  text-transform: capitalize;
}

.faqText {
  font-size: clamp(14px, 3vw, 16px);
  font-weight: 400;
  color: var(--black);
  text-transform: capitalize;
}
