.container {
  margin-top: 150px;
  margin-bottom: 48px;
}

.breadcrumbsContainer {
  margin-bottom: clamp(24px, 5vw, 48px);
}

.breadcrumbsText {
  color: var(--black) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
  text-transform: capitalize;
}

.breadcrumbsLink a {
  color: var(--primary) !important;
  font-size: clamp(16px, 3vw, 18px);
  text-decoration: none !important;
  font-weight: 400;
  text-transform: capitalize;
}
