.topbarContainer {
  background-color: var(--topbarbg);
  text-align: center;
  padding: 8px 0;
  color: var(--background);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.nav {
  position: relative;
}

.navlist {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navitem {
  position: relative;
}

.navlink {
  text-decoration: none;
  font-weight: 400;
  color: var(--black);
  font-size: clamp(16px, 5vw, 18px);
  margin-right: 24px;
}

.megamenu {
  position: fixed;
  left: 0;
  right: 0;
  top: 110px;
  width: 100%;
  background: #fff;
  z-index: 1000;
  padding: 2rem 4rem;
}

.megamenuInner {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: center;
}

.megacolContainer {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}

.megacol {
  display: flex;
  flex-direction: row;
  gap: 3.375rem;
  align-items: flex-start;
  flex: 1;
}

.linklist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 100%;
}

.linklist li a {
  text-decoration: none;
  color: var(--neutralgray);
  text-transform: capitalize;
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 400;
}

.featuredgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  flex: 1;
  align-items: start;
  justify-content: start;
}

.featuredgrid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  flex: 1;
}

.featuredcard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
}

.featuredcard img {
  width: 100%;
  height: 100%;
}

.featuredcard span {
  margin-top: 12px;
  font-size: 16px;
  color: var(--black);
  text-transform: capitalize;
}

.columnTitle {
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 400;
  color: var(--black);
  text-transform: capitalize;
  margin-bottom: 24px;
}

.mobileHeaderIcon {
  margin-right: 8px;
}

.mobileMenuListItemContainer {
  margin-bottom: 32px;
}

.mobileMenuListItemContainer>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
  margin-bottom: 24px;
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
}

.mobileMenuContainer {
  padding: 20px;
  margin-bottom: 42px;
}

.mobileSubMenuItem {
  margin-left: 35px;
  text-transform: capitalize;
  color: var(--neutralgray);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

.rotated {
  transform: rotate(180deg);
}

.mobileMenuBtnContainer {
  display: flex;
  gap: 1rem;
  margin-top: 68px;
  border-top: 1px solid var(--border);
  padding-top: 14px;
}

.mobileMenuBtn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--topbarbg);
  border-radius: 0;
  text-decoration: none;
  color: var(--topbarbg);
  font-size: 14px;
  font-weight: 400;
}

.offcanvasContainer {
  margin-top: 110px;
  overflow-y: scroll;
  border: 0 !important;
}

.searchContainer {
  padding: 40px 80px;
  margin-top: 110px;
  overflow-y: scroll;
  border: 0 !important;
  height: 150px !important;
}

/* search input css */

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  /* Adjust as needed */
  border-bottom: 1px solid var(--form-placeholder);
  /* Light grey bottom border */
  padding-bottom: 8px;
}

.searchIcon {
  margin-right: 10px;
}

.customSearch {
  border: none;
  outline: none;
  box-shadow: none !important;
  /* Removes the blue focus ring */
  width: 100%;
  font-size: 1rem;
  color: var(--text);
}

.customSearch::placeholder {
  color: var(--form-placeholder);
  /* Subtle placeholder text color */
}

/* Optional: Darken border on focus */
.inputContainer:focus-within {
  border-bottom: 1px solid var(--form-placeholder);
}

@media(max-width:600px) {
  .searchContainer {
    padding: 20px;
  }
}